In [43]:
# 오라클 연동 및 접속 
import cx_Oracle 
dsn=cx_Oracle.makedsn('localhost',1521,'orcl') 
db=cx_Oracle.connect('SYSTEM','Cus101010') 

cursor=db.cursor() 
cursor.execute("""select * from student where sno='999999'""") 
row=cursor.fetchall() 

colname=cursor.description 
col=[] 

for i in colname : 
    
    col.append(i[0])
    
std=pd.DataFrame(row,columns=col)
display(std)

try : 
    
    target_record = std.to_dict("r")[0]
    result = target_record["SNO"]
    print(result)

except :
    
    print("no student.")

      SNO SNAME   SEX SYEAR MAJOR   AVR
0  999999  None  None  None  None  None

999999